
  <!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Ma page</title>
   <link href="style.css" rel="stylesheet">
</head>
<body>
   <h1>Titre principal</h1>
   <p>Ceci est un paragraphe.</p>
</body>
</html>